.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.idea/
/.gradle/
/out/
/pos-demo.iml
/checkout/out/
/point-of-sale/out/
/order/out/
/checkout/build/
/checkout/checkout-adapters/build/
/checkout/checkout-adapters/out/
/checkout/checkout-core/out/
/checkout/checkout-core/build/
/checkout/checkout-endpoint/build/
/checkout/checkout-endpoint/out/
/checkout/checkout-interfaces/build/
/checkout/checkout-interfaces/out/
/order/build/
/order/order-adapters/build/
/order/order-core/build/
/order/order-endpoint/build/
/order/order-interfaces/build/
/point-of-sale/build/
/order/order-adapters/out/
/order/order-core/out/
